.orange {
    background-color: orange;
}
.cart button {
    margin-left: 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(218, 85, 85);
    border: 0;
    height: 27px;
    width: 69px;
    border-radius: 17px;
}